name: Build_wheels
on: [workflow_dispatch]
jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, windows-latest, windows-11-arm, macos-15-intel, macos-14]
    steps:
      - uses: actions/checkout@v5
      - name: Build wheels
        uses: pypa/cibuildwheel@v3.2.1
        env:
          CIBW_SKIP: "*musllinux* pp*"
          CIBW_ENVIRONMENT: MACOSX_DEPLOYMENT_TARGET=11.0
      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl